version: '3.5'

services:
  gocqhttp:
    container_name: gocqhttp
    environment: 
      - TZ=Asiz/Singapore
    tty: true
    stdin_open: true
    ports:
      - 5700:5700
    restart: always
    build:
      context: ./go-cqhttp
  
  qtbridge:
    container_name: qtbridge
    environment:
      - TZ=Asiz/Singapore
      - isdocker=1
      - TG_BOT_TOKEN=add_your_token_here
    tty: true
    stdin_open: true
    build:
      context: ./bot
    depends_on:
      - gocqhttp
    extra_hosts:
      - "host.docker.internal:host-gateway"



networks:
  default:
    name: QTBridge-default